*.iml
.gradle
/local.properties
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
.idea/
.gradle/
build/
out/
**.iml
*.hprof
target/
.classpath
.project
.settings/
bin/
distributions/